* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: arial;
    overflow-x: hidden;
}

.gallery {
    position: relative;
    min-height: 100vh;
}

.gallery .title {
    position: absolute;
    top: 95%;
    left: 5%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.title h1 {
    font-size: 60px;
    background: black;
    color: white;
    padding: 10px 20px;
}
.gallery .images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    top: 5%;
    right: 5%;
    height: 90%;
    width: 60%;
}

.gallery a {
    position: relative;
    flex-basis: calc(50% - 40px);
    margin: 0 20px;
    overflow: hidden;
    height: 20%;
    box-shadow: 0 0 3px 3px gray;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}